@page
@model Workshop_RSWEB.Pages.Profesors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Profesori</h1>
<form method="get" action="">
    <p>
        
       <input type="text" id="searchstring" name="searchstring" value="" />
        <input type="submit" value="Filter" />
    </p>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profesor[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor[0].StepenObrazovanie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor[0].AkademskiRang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Profesor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StepenObrazovanie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AkademskiRang)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
